In [1]:
import pandas as pd
from scripts.globals import *
from scripts.utils import *
from scripts.features import *

In [2]:
df = pd.read_csv("test_results/PD3905a_case_1.csv")
df

,id,sequence,mutated_sequence
0,PD3905a_1_726977_A_C,ATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAA...,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...
1,PD3905a_1_2289237_C_T,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...
2,PD3905a_1_2581645_C_T,CTCAGGTGAGCTTCTGACAGCCTGGAATGGCACTCTACACCCTCAG...,CTCAGGTGAGCTTCTGACAGCCTGGAATGGTACTCTACACCCTCAG...
3,PD3905a_1_2628603_C_G,CACGTGACAGCGTGGAACAGCACCCACACACCCAGGTGAGCATCTG...,CACGTGACAGCGTGGAACAGCACCCACACAGCCAGGTGAGCATCTG...
4,PD3905a_1_3034345_T_G,CCTTGTCCTTGTGCTCCAGCGATCAGGTGCTGGCTCTCCATGGGAC...,CCTTGTCCTTGTGCTCCAGCGATCAGGTGCGGGCTCTCCATGGGAC...
...,...,...,...
4581,PD3905a_X_153899303_C_T,TTCCTGGCCGCTTTGTTTACCTACTCAAGCCTCAGCAATGGCGGAT...,TTCCTGGCCGCTTTGTTTACCTACTCAAGCTTCAGCAATGGCGGAT...
4582,PD3905a_X_153906166_G_A,GGTATTGGAGTCAAACGATAAAATCCTGTTGGTGGCAACACTCACT...,GGTATTGGAGTCAAACGATAAAATCCTGTTAGTGGCAACACTCACT...
4583,PD3905a_X_154048526_C_T,AAAATTTGGCGCATCCACCACCCGCTGGTCCTTTCCACCGGGAGAC...,AAAATTTGGCGCATCCACCACCCGCTGGTCTTTTCCACCGGGAGAC...
4584,PD3905a_X_154232443_A_T,TCGCCTCAGAAACCATGCAAACAAGAAGAGAGTGCACTGACATATT...,TCGCCTCAGAAACCATGCAAACAAGAAGAGTGTGCACTGACATATT...
4585,PD3905a_X_154307184_A_T,TTTTTAATAAGTCTGTCAGTTGATATAAAAAAATTAAACTGTTAAC...,TTTTTAATAAGTCTGTCAGTTGATATAAAATAATTAAACTGTTAAC...

In [3]:
mirna_df = pd.read_csv(MIRNA_CSV)

In [4]:
df = df[0:5]

In [5]:
wt_jobs, mutated_jobs = prepare_jobs_from_df(df)

In [6]:
handle_target_file("result_csv_file")

In [7]:
wt_result_array = run_jobs_multithreaded(wt_jobs, 0, "result_csv_file")

In [8]:
mut_result_array = run_jobs_multithreaded(mutated_jobs, 1, "result_csv_file_mut")

In [9]:
wt_result_df = pd.DataFrame(wt_result_array)
mut_result_df = pd.DataFrame(mut_result_array)
rnaduplex_results_df = pd.concat([wt_result_df, mut_result_df])

In [10]:
rnaduplex_results_df

,0,1,2,3,4,5,6,7,8,9,10,11
0,51,59,.((((((.,8,16,.)))))).,-7.6,PD3905a_1_726977_A_C,MIMAT0016923,ATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAA...,GTGGAACTAGGGTCTCAGG,0
1,39,60,.(((.(.(((((((((((((.,0,22,)))))).)..))))))).))).,-18.8,PD3905a_1_3034345_T_G,MIMAT0026618,CCTTGTCCTTGTGCTCCAGCGATCAGGTGCTGGCTCTCCATGGGAC...,TCTGGGCGTATCTGTGTGCTAG,0
2,18,46,.(((((.((.((.....(((.((((((.,0,24,.)))))).)))..)).)).))))),-10.5,PD3905a_1_2289237_C_T,MIMAT0017986,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,CAGCCAGTATTACTCATCACTTTG,0
3,33,61,.((((...............(((((((.,10,23,.))))))))))).,-15.0,PD3905a_1_2628603_C_G,MIMAT0027432,CACGTGACAGCGTGGAACAGCACCCACACACCCAGGTGAGCATCTG...,CTCAATAAGATCTGCTCCCACCCG,0
4,17,40,.(((..((((.(..(.((((((.,0,20,.)))))).)..)))))))).,-20.6,PD3905a_1_3034345_T_G,MIMAT0004976,CCTTGTCCTTGTGCTCCAGCGATCAGGTGCTGGCTCTCCATGGGAC...,GGGAGAGGTCTCCCTGCGCACA,0
...,...,...,...,...,...,...,...,...,...,...,...,...
13275,20,38,.((((..((((((..((.,3,22,.))..))))))...)))).,-16.6,PD3905a_1_2289237_C_T,MIMAT0019821,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...,TTCTCCCACTGTCTGGATCCCA,1
13276,21,44,.((..((..(((....((.(((.,0,21,))).))..)))...))..)).,-5.4,PD3905a_1_726977_A_C,MIMAT0004512,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,CATACCTATAGATACAAGCTTG,1
13277,3,44,.(((.((((((((..................((.((((((.,0,22,.)))))))))))))))).))).,-23.4,PD3905a_1_2581645_C_T,MIMAT0027617,CTCAGGTGAGCTTCTGACAGCCTGGAATGGTACTCTACACCCTCAG...,AGGGGTGAGCAGGGGCTGGCTG,1
13278,39,57,.((((.((.(((.((((.,4,23,.)))).)))))..).))).,-11.1,PD3905a_1_2289237_C_T,MIMAT0015006,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...,ACTCCCTCTACCTCACTGTCCACA,1
13279,1,12,.((((((.((.,6,17,.)).)))))).,-10.5,PD3905a_1_2628603_C_G,MIMAT0021030,CACGTGACAGCGTGGAACAGCACCCACACAGCCAGGTGAGCATCTG...,TGCAAAAGTAGTCACGGTCTTT,1

In [11]:
# preprocess for prediction
colnames = ["mrna_start", "mrna_end", "mrna_dot_bracket_5to3", "mirna_start", "mirna_end", "mirna_dot_bracket_5to3", "pred_energy", "mutation_id", "mirna_accession", "mrna_sequence", "mirna_sequence", "is_mutated" ]
rnaduplex_results_df.columns = colnames
rnaduplex_results_df["id"] = rnaduplex_results_df["mutation_id"].astype(str) + "_" + rnaduplex_results_df["mirna_accession"].astype(str)
rnaduplex_results_df.drop(columns=["mutation_id"], inplace=True)
df_chunks = split_df_to_num_thread_chunks(rnaduplex_results_df)

In [12]:
with ProcessPoolExecutor(max_workers=NUM_CORES) as executor:
    results = list(executor.map(apply_pipeline, df_chunks))

pipeline_results_df = pd.concat(results)

In [13]:

filtered_df = filter_columns_for_xgb_prediction(pipeline_results_df)
dff = make_predictions_regressor(pipeline_results_df, filtered_df)

In [14]:
filtered_df

,pred_energy,pred_num_basepairs,pred_seed_basepairs,ta_log10,sps_mean,anchor_a,6mer_seed,match_8,6mer_seed_1_mismatch,compensatory_site,...,seed_8mer,seed_7mer_a1,seed_7mer_m8,seed_compensatory,seed_clash_2,seed_clash_3,seed_clash_4,seed_clash_5,mre_au_content,local_au_content
0,-7.6,6,0,3.379,-7.431,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0.538462,0.590164
1,-18.8,17,5,3.535,-10.809,0,0,1,1,1,...,0,0,0,1,0,0,0,1,0.318182,0.360656
2,-10.5,18,6,3.513,-9.380,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0.458333,0.475410
3,-15.0,11,0,3.619,-3.400,0,0,0,0,1,...,0,0,0,0,0,0,1,1,0.357143,0.393443
4,-20.6,15,6,3.770,-10.245,1,1,0,0,1,...,0,1,0,0,0,0,0,0,0.363636,0.360656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3315,-16.6,12,2,3.682,-9.757,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0.500000,0.491803
3316,-5.4,12,4,3.256,-5.786,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0.500000,0.573770
3317,-23.4,19,6,3.617,-10.898,0,1,1,0,1,...,0,0,0,0,1,0,0,0,0.500000,0.459016
3318,-11.1,13,2,3.719,-10.205,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0.458333,0.491803
3319,-10.5,8,0,3.746,-4.895,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0.388889,0.393443

In [15]:
dff

,mrna_start,mrna_end,mrna_dot_bracket_5to3,mirna_start,mirna_end,mirna_dot_bracket_5to3,pred_energy,mirna_accession,mrna_sequence,mirna_sequence,...,seed_clash_2,seed_clash_3,seed_clash_4,seed_clash_5,mre_au_content,local_au_content,prediction,binary_prediction,pred_difference,pred_difference_binary
0,31,48,.(.((((..(((.(((.,6,22,.))).)))..))))).,-7.3,MIMAT0000062,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,AACTATACAACCTACTACCTCA,...,0,0,0,1,0.454545,0.475410,0.080609,0,-0.069558,0
1,22,39,.(((..(.(((.((((.,8,22,.)))).))))))).,-7.4,MIMAT0000062,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...,AACTATACAACCTACTACCTCA,...,0,0,0,1,0.500000,0.491803,0.011051,0,-0.069558,0
2,31,52,.(.((((..(((.(((..((.,1,22,.))...))).)))..))))).,-8.0,MIMAT0000063,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,AACCACACAACCTACTACCTCA,...,0,0,0,1,0.500000,0.475410,0.942038,1,0.013594,0
3,22,44,.(((..(.(((.((((..(((.,1,22,.)))....)))).))))))).,-9.1,MIMAT0000063,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...,AACCACACAACCTACTACCTCA,...,0,0,0,1,0.500000,0.491803,0.955632,1,0.013594,0
4,22,44,.(((.....((.((((..(((.,1,22,.)))....)))).))..))).,-8.2,MIMAT0000064,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,AACCATACAACCTACTACCTCA,...,0,0,0,1,0.454545,0.475410,0.041109,0,0.388873,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26555,25,33,.((((((.,12,21,.))).))).,-4.8,MIMAT0049027,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,TGTACTTTTTAATGGTGCCAAG,...,0,0,0,0,0.545455,0.573770,0.833910,1,0.418982,1
26556,1,9,.((..((.,7,15,.))..)).,-2.0,MIMAT0049031,ATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAA...,TTTACAAACAAACCTTTA,...,0,0,0,0,0.625000,0.590164,0.000147,0,-0.000050,0
26557,26,34,.((..((.,7,15,.))..)).,-2.1,MIMAT0049031,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,TTTACAAACAAACCTTTA,...,0,0,0,0,0.555556,0.573770,0.000097,0,-0.000050,0
26558,1,20,.((((.(..(((((..((.,1,18,.)))))))..).)))).,-8.9,MIMAT0049032,ATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAA...,GGCCTCCATGACTTTTTC,...,0,0,0,1,0.611111,0.590164,0.984429,1,0.006927,0
26559,11,33,.((((.(..(((((..((.((.,0,18,)))))))))..).)))).,-9.5,MIMAT0049032,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,GGCCTCCATGACTTTTTC,...,0,0,0,0,0.555556,0.573770,0.991356,1,0.006927,0

In [16]:
dff[dff.pred_difference_binary != 0]

,mrna_start,mrna_end,mrna_dot_bracket_5to3,mirna_start,mirna_end,mirna_dot_bracket_5to3,pred_energy,mirna_accession,mrna_sequence,mirna_sequence,...,seed_clash_2,seed_clash_3,seed_clash_4,seed_clash_5,mre_au_content,local_au_content,prediction,binary_prediction,pred_difference,pred_difference_binary
48,15,39,.(((((..((((........(((.,1,20,.)))..))))...))))).,-8.8,MIMAT0000086,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,TAACCGATTTCAGATGGTGCTA,...,0,0,0,1,0.409091,0.475410,0.464727,0,0.115202,1
49,15,39,.(((((..((((........(((.,1,20,.)))..))))...))))).,-8.8,MIMAT0000086,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...,TAACCGATTTCAGATGGTGCTA,...,0,0,0,1,0.454545,0.491803,0.579930,1,0.115202,1
82,19,39,.((((.(...(((((((((.,1,23,.))))))..)))...).)))).,-11.3,MIMAT0000103,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,CTACCTGCACTGTAAGCACTTTT,...,0,0,0,1,0.391304,0.475410,0.874041,1,-0.585291,-1
83,31,39,.((((((.,1,9,.)))))).,-10.5,MIMAT0000103,AGAGAGAAAAAAGACTCGCCAGGGAGAAGATAGCAGGTCTTGGCTT...,CTACCTGCACTGTAAGCACTTTT,...,0,0,0,0,0.434783,0.491803,0.288750,0,-0.585291,-1
116,39,60,.((.((((.....(((((((.,7,23,.))))))).)))).)),-9.3,MIMAT0000254,AGAGAGAAAAAAGACTCGCCAGGGAGAAGACAGCAGGTCTTGGCTT...,CACAAATTCGGTTCTACAGGGTA,...,0,0,0,1,0.470588,0.475410,0.519711,1,-0.337007,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26541,20,36,.(((...((((((((.,8,21,.))))))))))).,-12.9,MIMAT0049020,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,AAGAAAAGGTCTGGTCCCCAAGTC,...,0,0,1,1,0.541667,0.573770,0.781054,1,0.627365,1
26552,1,15,.(((((...((((.,1,13,.)))).))))).,-3.2,MIMAT0049026,ATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAA...,CATCATAATTCTCACAGTAATA,...,0,0,0,0,0.625000,0.590164,0.149103,0,0.840968,1
26553,28,50,.((((....(((((...((((.,1,19,.)))).)))))..)))).,-7.3,MIMAT0049026,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,CATCATAATTCTCACAGTAATA,...,0,0,0,1,0.590909,0.573770,0.990071,1,0.840968,1
26554,50,58,.((((((.,12,21,.))).))).,-4.5,MIMAT0049027,ATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAATGGAA...,TGTACTTTTTAATGGTGCCAAG,...,0,0,0,0,0.538462,0.590164,0.414928,0,0.418982,1
26555,25,33,.((((((.,12,21,.))).))).,-4.8,MIMAT0049027,ATGGAATGGAATGGAATGGAATGGAATGGACTGGAATGGAATGGAA...,TGTACTTTTTAATGGTGCCAAG,...,0,0,0,0,0.545455,0.573770,0.833910,1,0.418982,1